#app {
font-family: Avenir, Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-align: center;
color: #2c3e50;
background-color: rgb(72, 72, 72);
overflow: hidden;
}

header{
background-color: rgb(255, 255, 130);
}

nav{
margin-left:20px;
display: flex;
}

nav a {
font-weight: bold;
color: #2c3e50;
}

nav a.router-link-exact-active {
color: #42b983;
}
.overlay{
    position:fixed;
    background-color: rgba(67, 67, 67, 0.6);
    width:100%;
    height:100%;
    color:white;
    cursor: pointer;
    display:none;
}
#slide {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  text-indent: 25px;
}
.container {
  
  width: 100%;
  padding-bottom: 10%;
}
.prev {
  display: inline-block;
  margin-right: 50px;
  cursor: pointer;
  color: yellow;
}
.next {
  display: inline-block;
  cursor: pointer;
  color: yellow;
}
.control-right {
  position: absolute;
  bottom: 25;
  right: 30px;
}
.control-left {
  position: absolute;
  bottom: 25;
  left: 30px;
}
#slide > div {
  min-width: 50%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  min-height:440px;
  height:440px;
  background-color: aliceblue;
  text-align: left;
}
#slide > div > img {
   display: block;
   max-width: 50%;
}
#slide > div > p {
   margin-bottom: 0;
}
#slide > div > div {
  padding:10px;
  color: #FFFFFF;
  background: #212121;
  text-align: center;
  border-radius: 20px;
  display:block;
}
#slide > div > div > h6 {
    margin: 0;
    font-size: 16px;
    text-align: center;
}
#slide > div > div > p {
    font-size: 14px;
    text-align: left;
    margin:0;
}
.hover-container :hover {
    opacity: 0.3;
}
#slide > div > input{
    margin-left:20px;
    width:80%;
    margin-bottom:20px;
}
.progress-container {
  width: 100%;
  height: 8px;
  background: #cccccc;
}
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
  min-width:0%;
  max-width:100%;
}